@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playwrite+DE+Grund:wght@100..400&display=swap');

*{
  margin: 0;
  padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
font-family: "Josefin Sans", sans-serif;
font-optical-sizing: auto;
}
body{
  background-color: black;
}
header{
  /* border-bottom: 1px dotted white; */
 display: flex;
 color:black;
 justify-content: space-around;
 backdrop-filter: blur(10px);
 /* box-shadow: 0 4px 6px rgba(206, 203, 203, 0); */
  align-items: center;
  background-color: black;
  box-shadow: 1px 1px 20px #ff6060;
}
header .logo h2{
  color:#ff6060;
  font-size: 24px;
}
header .logo h2:hover{
  cursor: pointer;
  color:white;
}
.links{
  list-style: none;
  display: flex;
  letter-spacing: 1px;
  padding:16px;
  color:#ff6060;
}
.links a{
  text-decoration: none;
  color:#ff6060;
  font-weight: bolder;
  font-size: 25px;
  padding:12px;
  position: relative;
  transition: 0.7s cubic-bezier(0.4, 0, 1, 1);
}
.links a:before{
  content : '';
  position: absolute;
  top:0;
  left:0;
  width:0%;
  height: 100%;
  /* background-color: red; */
  border-bottom : 2px solid #fff;
  transition: 0.7s linear;
}
.links a:hover:before{
  width: 100%;
  color:#fff;
}
.links a:hover{
  color:#fff;
}
.buttons a{
  background: #ff6060;
  padding: 13px;
  text-decoration: none;
  color:#fff;
  border-radius: 4px;
  font-size: 20px;
  transition: 0.8s ease-in-out;
  font-weight: bolder;
}
.buttons a:hover{
  font-weight: bolder;
  color:#ff6060;
  background-color: wheat;
}

.main{
  height: 100vh;
  width: 100%;
  gap: 3em;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0px 200px;
}
.main .content{
  width: 60%;
  font-size: 22px;
  color:wheat;
}
.img {
  width: 40%;
}
img{
  width: 343px;
  border-radius: 39%;
  transition: 0.9s ease-in-out;
  border: 3px solid #ff6060;
}
img:hover{
  border-radius: 100%;
  cursor: pointer;
  border: 2px solid #ff6060;
  box-shadow: 1px 1px 20px #ff6060;
}
.btnn{
  margin-top: 45px;
}
.btnn a{
  margin-top: 10px;
  background: #ff6060;
  padding: 13px;
  text-decoration: none;
  color:#fff;
  border-radius: 4px;
  font-size: 20px;
  transition: 0.8s ease-in-out;
  font-weight: bolder;
}
.btnn a:hover{
  font-weight: bolder;
  color:#ff6060;
  background-color: wheat;
  box-shadow: 1px 1px 20px #ff6060;
}
h2 span{
  color:#ff6060;
  font-weight: 700;
  font-size: 43px;
  letter-spacing: 2px;
}
.skills{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7em;
  margin: 0px 20px;
  flex-wrap: wrap;
  padding-bottom: 40px;
  border-left: 4px solid #ff6060;
  transition: 0.4s ease-in-out;
}
.skills:hover{
  box-shadow: 1px 1px 20px #ff6060;
  
}
.heading{
  color:wheat;
  font-size: 45px;
  text-align: center;
  font-weight: 300;
}
.skil{
  color:wheat;
  font-size: 45px;
  text-align: center;
}
.fa-html5 , .fa-css3-alt , .fa-js , .fa-php ,.fa-bootstrap,.fa-react{
  color: wheat;
  font-size: 100px;
  margin-left: 41px;
  padding: 30px;
  color: #ff6060;
}
.fa-download , .fa-hire-a-helper{
  color:white;
  margin-right:6px;
}
/* .fa-download , .fa-hire-a-helper:hover{
  color:#ff6060;
  /* background-color: white; */

.skills .card:hover{
  /* filter: drop-shadow(1px ,1px 20px,yellow); */
  transition: 0.3s ease-in-out;
  box-shadow: 1px 1px 20px #ff6060;
  cursor: pointer;
}
.projects{
  display: flex;
  padding-top: 40px;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
  gap: 7em;
  margin: 0px 20px;
  flex-wrap: wrap;
  box-shadow: 1px 1px 20px #ff6060;
}
.projects:hover{
  transition: 0.4s ease-in-out;
  border-top: 4px solid #ff6060;
  
}
.ncard{
  color:wheat;
  padding: 23px;
  font-size: 23px;
  margin: auto;
  transition: 0.5s ease-in-out;
  /* border-top:2px solid #ff6060; */
}
li{
  padding: 10px;
}
.ncard:hover{
  border-top:2px solid #ff6060;
  box-shadow: 1px 1px 20px #ff6060;
  cursor:pointer;
}
.ncard h2{
  padding: 20px;
  filter: drop-shadow(1px 10px 20px #ff6060);
}
.ncard p{
  padding: 12px;
}
.view{
  background-color: #ff6060;
  color:white;
  padding: 12px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}
.footer{
  display: flex;
  padding-top: 40px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  /* gap: 7em; */
  margin: 0px 0px;
  flex-wrap: wrap;
  flex-direction: column;
  border-top:9px solid #ff6060;
}
.footer h2{
  color:wheat;
}
.fa-instagram ,.fa-facebook,.fa-linkedin,.fa-envelope,.fa-phone{
  color:#ff6060;
  font-size: 30px;
  cursor: pointer;
  padding: 20px;
  text-align: center;
}
.footer p{
  color:wheat;
  font-size: 23px;
  /* border-left:1px solid #ff6060; */
}
.footer h4{
  color: wheat;
}
.contact{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  margin: 0px 0px;
  height: 100vh;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* box-shadow: 1px 1px 20px #ff6060; */
}
.contact  h3{
  color:wheat;
  font-size: 47px;
}
.contact .form{
  border-left: 5px solid #ff6060;
  display: grid;
}
input , textarea{
  height: 40px;
  width:600px;
  padding: 20px;
  color:#ff6060;
  margin-left: 12px;
  outline: none;
}
.btnnn{
  margin-top: 10px;
  margin-right: 457px;
  padding: 15px;
  background-color: #ff6060;
  color: wheat;
  font-weight: bolder;
  font-size:14px;
  cursor: pointer;
}